.container(style = 'background-color: white; border: 1px solid gray; border-radius: 5px; max-width: 300px')
  .row
    .col-sm-12
      h4 Rendolent Erumination
      p This is a quick explanation of how eruminating rendolently can help you be better at your job. You're going
        | to feel like you've got superpowers after you start using this tool!

  .row
    .col-sm-6
      button.btn.btn-default(ng-click='dismissFairy()') Got it!

    .col-sm-6
      a(href='https://www.youtube.com/watch?v=dQw4w9WgXcQ', target='_blank') Learn More