<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body ng-controller="MainController" class="container">

<h1>Angular-Guide
    <small>Fairies for your Features and Functions!</small>
</h1>
<button
        ng-click="showFeatures()"
        guide-stop="showFeaturesButton"
        guide-on-fairy-tickle="showFeatures()"
        guide-explanation-template-url="explainFirstStop.html"
        >
    Show Me The Features
</button>
<button class="btn btn-default"
        ng-click="guide.dismissFairy()">
    Show Me How It Works
</button>

<h1>
    <span guide-stop="featuresHeader">The Features</span>
</h1>
<h2>
    <span guide-stop=""Guide Fairies and Guide Stops</h2>
<h2>Configure appearance and position from the DOM (natch)</h2>
<h2>Flexible guide service manages the fairies</h2>


<style>
    .guideFairy {
        width: 20px;
        height: 20px;
        background-color: plum;
        border: 1px solid papayawhip;
        cursor: pointer;
    }
</style>

<script type="text/ng-template" id="template/guideFairy.html">

    <div class="guideFairyPositioner">
        <style>
            .guideFairyPositioner {
                position: absolute;
                top: 0;
                left: 0;
                transition: all ease-in-out 0.4s;
            }
        </style>
        <div class="guideFairy"
             ng-if="!showingExplanation"
             ng-click="tickle()">
        </div>
        <div ng-if="showingExplanation" ng-include="explanationUrl">
        </div>
    </div>

</script>


<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
<script src="js/libs/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script data-main="js/main" src="js/libs/requirejs/require.js"></script>

</body>
</html>
