.fairy(ng-class="showingExplanation ? '' : classFromStop" ng-click="showingExplanation ? noop() : tickle()")
  .fairy__radiator(ng-show="!showingExplanation")
  .fairy__blip(ng-show="!showingExplanation")
  .fairy__info(ng-show="showingExplanation", ng-include="explanationUrl")