doctype html
html
  head
    title Welcoming (and training) with Fairies

    style.
      .guideFairy {
        width: 20px;
        height: 20px;
        background-color: plum;
        border: 1px solid papayawhip;
        cursor: pointer;
      }

  body(ng-app='FairyDemo', ng-controller='MainDemoController')
    h1 Welcoming (and training) with Fairies

    button(guide-stop='showFeaturesButton') Show Features

    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js')

    // include guide-fairies.js in your own app
    script(src='js/guide-fairies.js')

    // replace demoApp.js with your app
    script(src='js/demoApp.js')
