doctype html
html
  head
    title Welcoming (and training) with Fairies

    link(rel='stylesheet', href='styles.css')


  body(ng-app='FairyDemo', ng-controller='MainDemoController')

    .container
      .jumbotron

          h1 Fairy Guides
          p.lead An in-app guide system for AngularJS
            ol
              li helpful but ignorable (perfect!)
              li deeply integrated with your UI but almost independent of your code (perfect!)

          button.btn.btn-primary.btn-lg(guide-stop='showFeaturesButton'
                                        guide-fairy-class='fairy--read-on-button')
            | See how




    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js')

    // include guide-fairies.js in your own app
    script(src='../dist/guide-fairies.js')

    // replace demoApp.js with your app
    script(src='js/demoApp.js')
