doctype html
html
  head
    title Welcoming (and training) with Fairies

    link(rel='stylesheet', href='styles.css')


  body(ng-app='FairyDemo', ng-controller='MainDemoController')

    .modal-backdrop.fade.in(ng-if='introModalShowing')
    .modal.fade.in(style='display: block', ng-if='introModalShowing')
      .modal-dialog(style='width: 780px')
        .modal-content
          .modal-body

            .container
              .jumbotron

                  h1 Navi
                  p.lead An in-app guide for AngularJS
                    ol
                      li helpful but ignorable (perfect!)
                      li deeply integrated with your UI but almost independent of your code (perfect!)

                  button.btn.btn-primary.btn-lg(ng-click='hideIntroModal()'
                                                guide-stop='showFeaturesButton'
                                                guide-on-fairy-tickle='hideIntroModal()'
                                                guide-fairy-class='fairy--read-on-button')
                    | See how


    .container

      .row
        .col-lg-6
          h1 Uses!

          accordion(close-others='true')
            accordion-group(heading='Static header, initially expanded')
              div Content!
            accordion-group(heading='Another one!')
              h1 Another thing!

    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js')

    // include guide-fairies.js in your own app
    script(src='../dist/guide-fairies.js')

    // replace demoApp.js with your app
    script(src='js/demoApp.js')
